<form class="form-horizontal" [formGroup]="updateUserForm" (submit)="updateUser()">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="username" id="username" [(ngModel)]="userData.userName" placeholder="User Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email <span style="color:red;">*</span></label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="userData.email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="firstName" formControlName="firstName" [(ngModel)]="userData.firstName" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="userData.lastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="userData.password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" [(ngModel)]="userData.confirmPassword" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-group">
        <label for="role" class="col-sm-2 control-label">Roles</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="role" formControlName="role" [(ngModel)]="userData.role" placeholder="Roles">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary" [disabled]="!updateUserForm.valid">Update user</button>
        </div>
    </div>
</form>