.file_upload {
    padding: 0px;
    .choose_file {
        border: 1px solid #337ab7;
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .choose_button {
        input[type="file"] {
            display: none;
        }
    }
    .file_name {
        font-weight: normal;
    }
    .upload_button {
        padding: 1px 4px;
        position: relative;
        left: 2px;
        top: 5px;
        cursor: pointer;
    }
    .choose_button {
        width: 100%;
        height: 32px;
        line-height: 20px;
        max-width: 120px;
        outline: none;
        &:active,
        &:hover,
        &:focus,
        &:active:hover,
        &:active:focus {
            @extend .choose_button;
        }
    }
    .choose_button.btn {
        width: 100%;
        height: 32px;
        line-height: 20px;
        max-width: 120px;
        border: none;
        background: #337ab7;
        color: white;
        font-size: 14px;
        outline: none;
        border-radius: 0;
        &:active,
        &:hover,
        &:focus,
        &:active:hover,
        &:active:focus {
            @extend .choose_button.btn;
            transition-duration: 0.4s;
            outline: none;
        }
        &:disabled {
            @extend .choose_button.btn;
            cursor: not-allowed;
            outline: none;
            &:active,
            &:hover,
            &:focus,
            &:active:hover,
            &:active:focus {
                @extend .choose_button.btn;
            }
        }
    }
}